ion-content ion-toolbar {
    --background: translucent;
    --color: #3bc8ff;
  }

.toolbar_top {
    --background: #ffffff79;
    --min-height: 56px;
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
  }

  .toolbar{
    --color: #3bc8ff;
  }

.comment_grid{
  background: #555555;
  //padding: 10px;
  border-radius:10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.post{
  background: #555555;
  padding: 10px;
  border-radius:10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.comment_title{
  color:#ffffff;
}

.white{
  color:#ffffff;
}