<ion-header>
  <ion-toolbar class="toolbar-top" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="profile-title">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content.background">
  <ion-avatar class="mAvatar">
    <img src="../../../assets/icon/kula.png">
  </ion-avatar>
  <ion-card-title class="ion-text-center">Logged in as:<br>{{this.reddit.userName}}</ion-card-title>  
  
  <ion-card-title style="text-align: center; font-size: 100%; padding-top:1cm;">My City: </ion-card-title>
  <ion-item class="trackcity">
    <ion-label>{{this.reddit.locationString}}</ion-label>
    <ion-select  (ionChange)="updateCity($event)" okText="Select" cancelText="Dismiss">
      <ion-select-option *ngFor="let flair of this.reddit.flairList" [value]="flair">{{flair[0]}}</ion-select-option>
    </ion-select>
  </ion-item>


  
  <ion-card-subtitle class="ion-margin-start ">
    <p style="text-align: center;">
      Found any errors? Have any requests?<br>
      Please email us at kuladevelopers@gmail.com
    </p>
  </ion-card-subtitle>

  <ion-button (click)="logout()" class="logout_button" expand="block" size="medium" color="primary">
    Logout
  </ion-button>

</ion-content>

