.toolbar.top {
    --padding-top: 16px;
}

.content.background {
    --background-color:#8fb8ff;
    }

.ion-text-center {
    --text-align: center;
    --padding-top: 0.3cm;

}

.ion-justify-content-center {
    --width:100% !important;
    --height : 100% !important;
    --max-width: 250px !important;  //any size
    --max-height: 250px !important; //any size
    --padding-top: 1cm ;
    --align-items: center;
    --display: flex;
    }


