<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Create a Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-subtitle class="ion-margin-start">
    <p>Please enter the service you are requesting</p>
    <p>Include any specific such as brands, quantities, etc.</p>
    <p>Users will privately message you if they can deliver your requests</p>
    <p>Payment and delivery methods are decided between users. We recommend no-touch methods such as Venmo or CashApp. 
      Please sanitize all items and stay safe.
    </p>
  </ion-card-subtitle>

  <ion-item class="ion-item-for-post">
    <ion-label position="stacked">Post Title</ion-label>
    <ion-input type="text" [(ngModel)]="postTitle"></ion-input>
    <ion-label position="stacked">Post Text:</ion-label>
    <ion-textarea placeholder="Enter post text here..." autoGrow="true" [(ngModel)]="postText"></ion-textarea>
  </ion-item>

  <ion-button (click)="submitPost()" expand="block" size="large">
    Create Post
  </ion-button>
</ion-content>

