<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Create a Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-subtitle class="ion-margin-start">
    Enter the items you need, as well as any specifics such as brands, quantities, and such.
    Users will privately message you if they can deliver your requested items.
    Payment and delivery methods will all be discussed between requester and deliverer.
  </ion-card-subtitle>

  <ion-item>
    <ion-label position="stacked">Post Title</ion-label>
    <ion-input type="text" [(ngModel)]="postTitle"></ion-input>
    <ion-label position="stacked">Post Text:</ion-label>
    <ion-textarea placeholder="Enter post text here..." autoGrow="true" [(ngModel)]="postText"></ion-textarea>
  </ion-item>

  <ion-button (click)="submitPost()" expand="block" size="large">
    Create Post
  </ion-button>

</ion-content>
