ion-content ion-toolbar {
  --background: translucent;
}
.ion-toolbar {
  --background: #ffffff79;
  --color: #3880ff;
  --min-height: 56px;
  --opacity: 1;
  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;
}
