ion-content ion-toolbar {
  --background: translucent;
}

.ion-toolbar {
  --background: #ffffff79;
  --color: #3880ff;
  --min-height: 56px;
  --opacity: 1;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
}

ion-card{
  width:100% !important;
}

