<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item lines="none" *ngFor="let post of this.reddit.savedPosts">
      <ion-card button="true" (click)= "goToPost(post)" >
        <ion-card-header>
          <ion-card-title>{{post[0]}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{post[1]}}</ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
